<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}"><i class="icon-emotsmile icons"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('second') }}"><i class="icon-speedometer"></i> Second</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('page1') }}"><i class="icon-speedometer"></i> Page 1</a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
